body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: purple;
    margin: 0;
}

#buttons {
    display: flex;
}

.btn, .stop {
    margin: 10px;
    padding: 10px 20px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.stop {
    background-color: red;
}

.btn:hover, .stop:hover {
    background-color: #4b0082;
}
